/* Base Color */
:root {
	--light-background-primary: #;

	--dark-background-primary: #010409;
	--dark-background-secondary: #181818;
	--dark-text-primary: #F0F6FC;
	--dark-text-muted: #9097A0;
	--dark-text-link: #4493F8;
	--dark-text-hover: #15191F;
	--dark-button-primary: #1F8635;
	--dark-button-hover-primary: #29903B;
	--dark-button-active-primary: #105823;
	--dark-button-secondary: #252C36;
	--dark-button-hover-secondary: #262C36;
	--dark-button-active-secondary: #2B313D;
	--dark-on-button: white;
	--dark-on-button-muted: #9198A1;
}

/* Light Theme */
:root {
	--color-background-primary: #;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
	:root {
		--color-background-primary: var(--dark-background-primary);
		--color-text-primary: var(--dark-text-primary);
		--color-text-muted: var(--dark-text-muted);
		--color-text-hover: var(--dark-text-hover);
		--color-button-primary: var(--dark-button-primary);
		--color-on-button: var(--dark-on-button);
		--color-on-button-muted: var(--dark-on-button-muted);
		--color-button-hover-primary: var(--dark-button-hover-primary);
		--color-button-active-primary: var(--dark-button-active-primary);
	}
}

body {
	background-color: var(--color-background-primary);
	color: var(--color-text-primary);
}

.navbar {}

.navbar a {
	color: var(--color-text-primary);
}

.navbar a:hover {
	background-color: var(--dark-text-hover);
}

.btn {
	border-color: var(--color-button-hover-primary);
}

.btn:active {
	border-color: transparent;
}

.btn-primary {
	color: var(--color-on-button);
	background-color: var(--color-button-primary);
}

.btn-primary:hover {
	background-color: var(--color-button-hover-primary);
}

.btn-primary:active {
	color: var(--color-text-muted);
	background-color: var(--color-button-active-primary);
}