@import './color.css';

html {
	padding: 0;
}

body {
	font-size: 13px;
	font-family: "Roboto", system-ui;
	margin: 0;
}

button {
	font-size: 13px;
	font-family: "Roboto", system-ui;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.btn {
	padding: 5px 10px;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
}