:root {
  --color-primary: #f0f6fc;
  --color-text: #010409;
  --color-hover: #cecfd1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #010409;
    --color-text: #f0f6fc;
    --color-hover: #2d3642;
  }
}

body,
a {
  background-color: var(--color-primary);
  color: var(--color-text);
}

a:hover {
  background-color: var(--color-hover);
}

input {
  color: var(--color-text);
  background-color: var(--color-hover);
}

.divider {
  height: 2px;
  background-color: var(--color-text);
}

.btn {
  color: #f0f6fc;
  background-color: #1f8635;
  border-color: #29903b;
}

.btn:hover {
  background-color: #29903b;
}
